
* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

header {
    position: absolute;
    width: 1840px;
    height: 788px;
    top: 0;
    left: 0;
    background-color: rgb(15, 59, 126, 0.2) ;
    background-image: url(https://phonoteka.org/uploads/posts/2021-05/1620982220_28-phonoteka_org-p-fon-dlya-prezentatsii-vrachi-meditsina-29.jpg) ;
}

